<head>
	<%= stylesheet_link_tag "home" %>
	<%= stylesheet_link_tag "application", :media => "all" %>
</head>

<body>
 	<div class="page">

		<div class"column1of2">
  			<h1> Hi!  I'm Emily</h1>
				<p> I am a</p>
		</div>

		<div class="column2of2" id="category">
		  <p>Developer</p>
			<p>Blogger</p>
		  <p>Small-town girl turned Washingtonian</p>
		</div>

	<a class="twitter-timeline" href="https://twitter.com/districtEm1" data-widget-id="303695088054312960" data-link-color: $green;}>Tweets by @districtEm1</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					
		<!--<ul class="stately">   
    	<li data-state="dc" class="dc">I</li>
    	<li data-state-"va" class="va">t</li>
  	</ul>-->
  </div>
  	
</body>