<body>
	<div class="page">
  	<h1>DistrictEm Blog</h1>

  	<h2>I enjoy sharing what I learn about development.  Hopefully you'll learn something too!
  	</h2>

		<div class="well sidebar-nav">
    	<ul class="nav nav-list">
      	<li class="nav-header">Older Posts</li>
      	<li class="nav-header"><%= link_to "Previous Posts", "../posts/index.html"  %></li>
    	</ul>
  	</div><!--/.well -->

 	</div>

</body>
