<body>

	<div class="page">
		
		<h1>Contact Me</h1>
		
		<h3>I love learning and connecting with new people!  If you’d like to connect with me feel free to reach out.
		</h3>
		
		<h3>
		Email: <a href="mailto: emily@districtem.com">emily@districtem.com</a></h3>
		
		<h3>
		Tweet: <a href="https://twitter.com/districtEm1">@DistrictEm1</a></h3>

	</div>

</body>
