/*
@font-face {
    font-family: 'stately-webfont';
    src: url('stately-webfont.eot');
    src: url('stately-webfont.eot?#iefix') format('embedded-opentype'),
         url('stately-webfont.woff') format('woff'),
         url('stately-webfont.svg#testfontRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul.stately {
  font: normal normal 1000px/100% 'stately-webfont';
	font-size-adjust: none;
	-webkit-text-rendering: optimizeLegibility;
	   -moz-text-rendering: optimizeLegibility;
	    -ms-text-rendering: optimizeLegibility;
	     -o-text-rendering: optimizeLegibility;
	        text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga=1";
	 -ms-font-feature-settings: "liga" 1;
	 -ms-font-feature-settings: "liga", "dlig"; 
	overflow: hidden;
	width: 90px;
  height: 90px;
	display: block;
	margin: 0 auto;
  color: #79BD9A;
	padding: 0;
	list-style: none;	
	
	li { 
  	float: left;
  	margin: -20% 0 0 -100%;
  	position: absolute;
  	left: 101%;
  	width: 100%;
  	cursor: default;
  	-webkit-transition: all 1s ease-in;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	 -khtml-user-select: none;
  	   -moz-user-select: none;
  	    -ms-user-select: none;
  	        user-select: none;
  }
  
} // .stately
*/